  .tweet {
    margin: 20px 0;
    font-size: 80%;
  }
  .tweet-container {
    padding: 2rem 2rem 2rem 0rem;
    display: flex;
    border: 1px solid var(--border-color);
    border-bottom-color: transparent;
  }

  .tweet-container:hover {
    background-color: var(--highlight-color);
    cursor: pointer;
  }
  .tweet-content {
    padding: 0rem 0rem 2rem 0rem;
  }
  .tweet-header {
    margin-bottom: 1rem;
  }
  .tweet-header li {
    display: inline-block;
    list-style: none;
  }
  .tweet-username,
  .tweet-userId {
    font-weight: bold;
    padding-right: 0.2rem;
  }
  .tweet-body {
    width: 100%;
  }
  .tweet-userId,
  .tweet-time {
    font-weight: lighter;
    color: var(--font-color);
  }

  .tweetlist {
    padding: 2rem;
    border: 1px solid var(--border-color);
    border-bottom-color: transparent;
    display: flex;
  }
  
  .tweetlist:hover {
    cursor: pointer;
    background-color: rgba(42, 75, 104, 0.651);
  }

  :host .ionicon {
    stroke: white;
}