.pageHeader {
    display: flex;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-bottom-color: transparent;
  }