input {
    padding: 10px 0 30px 0;
    width: 100%;
    display: block;
    border-radius: 30;
    border-color: transparent;
    margin-bottom: 20px;
    text-indent: 20px;
  }
  input:focus {
    outline: none;
    box-shadow: 0 0 20px #719ece4d;
    padding: auto 10px;
  }
  ::placeholder {
    font-family: "Lato", "Arial";
  }