* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(247, 247, 255);
  color: rgb(24, 23, 23);
  font-family: "Lato", "Arial";
  font-weight: 300;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}
/*--------------------PROFILE SECTION--------------------------------------*/
.userProfile {
  height: 500px;
  width: 100%;
  position: relative;
}
.profileCoverPhoto {
  height: 200px;
  width: 100%;
}
.displayPicture {
  top: 130px;
  left: 50px;
  border: 2px solid  white;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  position: absolute;
}
.buttonSection {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
.whiteBtn {
  border: 1px solid rgb(194, 196, 201);
  padding: 10px 20px;
  border-radius: 25px;
  z-index: 1;
  display: inline-block;
  font-weight: bold;
}

.whiteBtn:hover {
  background-color: rgb(227, 229, 235);
  cursor: pointer;
}
.userDetails {
  margin-top: 20px;
  margin-left: 30px;
}
.followDetails {
  display: flex;
}

.greyFont {
  margin-right: 10px;
  color: grey;
}
.blackFont {
  color: black;
  font-weight: bold;
}

.additionalUserDetails {
  line-height: 2rem;
}
/*-------------------------SPINNER --------------------------------------*/
.spinner::before {
  content: "";
  animation: 1s linear infinite spin;
  height: 50px;
  width: 50px;
  border: 8px solid rgb(227, 229, 235);
  border-bottom-color: rgb(87, 149, 201);;
  border-radius: 50%;
  justify-content: center;
  transform: translate(50%,50%);
  position: absolute;
}
.spinner {
  height: 400px;
  width: 400px;
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}

body {
  background-color: rgb(18, 39, 58);
  color: white;
  font-size: 16px;
}
/*----------navbar left -----------*/
.navlist {
  padding: 2rem;
}

/*--------------------FEED SECTION ----------------------------------------*/
.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.profile-pic-div {
  padding: 0rem 2rem;
}
.new-tweet {
  margin-top: 20px;
}

.tweet-icons li {
  color: rgb(74, 77, 80);
  display: inline-block;
  list-style: none;
  font-size: 130%;
  width: 25%;
}

ion-icon:hover {
  cursor: pointer;
}

.new-tweet-icons {
  width: 100%;
  display: flex;
}
.actionButtonLeft {
  color: rgb(65, 118, 161);
  font-size: 130%;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.actionButtonLeft li {
  margin-right: 20px;
}

.actionButtonRight {
  margin-left: auto;
}

.tweet-image {
  width: 100%;
  height: auto;
}

.react-count {
  font-size: 70%;
  color: rgb(76, 87, 94);
}
.replyDialog {
  width: 500px;
}